html, body {
    box-sizing: border-box;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: #045d5d; /* 2. Same as header and footer, does not worj in codepen*/
  }
  
  body {
    /*min-height: 100%; /* Use if set on container, not body */
    font-size: 2rem;
    display: flex;
    flex-direction: column;
  }
  
  header.page-header, footer.page-footer {
    flex-grow: 0; /* 0. Only takes the place it needs */
    flex-shrink: 0;
    color: #fafafa;
    background-color: #045d5d;
    padding: 10px;
  }
  
  main.page-body {
    flex-grow: 1; /* 1. Let main take all available space */
    padding: 0 10px;
    background-color: #fafafa;
    color: black;
  }

/* MENU CODE */
#mymenu {
    width: 0;
  }
  
  .menubar {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #5d5d5d;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 50px;
    text-align: center;
  }
  
  #mymenu img {
    width: 55px;
    height: 55px;
    margin-top: 30px;
  }
  
  .menubar a {
    padding: 8px 8px 8px 32px;
    display: block;
    transition: 0.3s;
    text-decoration: none;
    color: #2a623d;
    font-size: 30px;
  }
  
  .menubar h1 {
    margin: 50px 0px 30px 20px;
    color: #ffffff;
  }
  
  .menubar {
    line-height: 22px;
  }
  
  .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
  }
  
  /* END MENU CODE */

  .header-page-name-left a {
    text-decoration: none;
    color: #000000;
    font-size: 30px;
  }

  .header-page-name-left {
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 30px;
  }